<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1>Modulo de gestion de clientes</h1>
    <table style="color:#747474; margin: 25px 0;" >
        
        <tr style="font-size: 24px; font-weight: 700;">
            <td style="border: 2px solid #000;">
                nombre
            </td >
            <td style="border: 2px solid #000;">
                apellido
            </td>
            <td style="border: 2px solid #000;">
                cedula
            </td>
            <td style="border: 2px solid #000;">
                edad
            </td>
            <td style="border: 2px solid #000;">
                fecha de registro
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">
             dato
            </td>
            <td style="border: 1px solid #000;">
             dato
            </td>
            <td style="border: 1px solid #000;">
             dato
            </td>
            <td style="border: 1px solid #000;">
             dato
            </td>
            <td style="border: 1px solid #000;">
             dato
            </td>
         </tr>
        
    </table>
    <a style="padding: 10px 35px; background-color: #18667e; color: #FFF; text-decoration: none; cursor: pointer;" href="/registro">Registrar un nuevo cliente</a>
    
</body>
</html>