<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de clientes</title>
    <style>
        input {
            width: 250px; margin: 10px; height: 35px;
        }
        .form-button {
            padding: 10px 35px; background-color: #18667e; color: #FFF; text-decoration: none; cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>
        Megistro de clientes
    </h1>
    <form action="submit">
        <div class="contain" style="width: 500px;">
            <div class="row" style="display: flex; justify-content: space-between; ">
                <div class="column" style="">
                    <label for="name">Nombre </label>
                    <input type="text" name="name">
                </div>
                <div class="column">
                    <label for="apellido"> Apellido</label>
                    <input type="text" name="apellido">
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: space-between; ">
                <div class="column" style="">
                    <label for="Cedula">Cedula </label>
                    <input type="text" name="Cedula">
                </div>
                <div class="column">
                    <label for="Edad"> Edad</label>
                    <input type="number" name="Edad">
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: space-between; ">
                <div class="column" style="">
                    <label for="fecha">Fecha de registro </label>
                    <input type="date" name="fecha">
                </div>
            </div>
            
            
        </div>
        
        <button class="form-button" type="submit"> Registrar Cliente</button>
        
    </form>
</body>
</html>