{% extends 'base.html' %}

{% block content %}
  <h1>Informe Diario</h1>

  <h2>Informe de Ventas Diarias</h2>
  <form method="post" action="{% url 'informe_diario' %}">
    {% csrf_token %}
    <label for="fecha">Fecha:</label>
    <input type="date" name="fecha">
    <button type="submit">Generar Informe</button>
  </form>

  {% if ventas %}
    <table>
      <thead>
        <tr>
          <th>Nombre del producto</th>
          <th>ID del producto</th>
          <th>Precio del producto</th>
          <th>Lote del producto</th>
          <th>Total</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        {% for venta in ventas %}
          <tr>
            <td>{{ venta.product_name }}</td>
            <td>{{ venta.product_id }}</td>
            <td>{{ venta.product_price }}</td>
            <td>{{ venta.product_lot }}</td>
            <td>{{ venta.total }}</td>
            <td>{{ venta.fecha }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay ventas registradas para el día {{ fecha }}.</p>
  {% endif %}
{% endblock %}

