{% comment %} {% load static %}
<script src="{% static "/js/farmacia.js" %}"></script> {% endcomment %}
{% load static %}
<script type="text/javascript" src="{% static "/js/jspdf.min.js" %}"></script>
<script src="https://unpkg.com/jspdf-autotable@3.5.22/dist/jspdf.plugin.autotable.js"></script>

{% comment %}  
<script type="text/javascript" src="{% static "/js/jspdf.plugin.autotable.js" %}"></script>
<script type="text/javascript" src="{% static "/js/jspdf.plugin.autotable.min.js" %}"></script>{% endcomment %}